body {
  margin: 0;
  background-color: white;
}

/*//////////////////////////////////////
/////////For Create Card Pop-up Dialog &
///////////For Create Item Pop-up Dialog
////////////////////////////////////////   */

#create-card-pop-up {
  height: 30vh;
  width: 40vw;
  background-color: white;
  border: #e74c3c solid 1px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px rgb(0, 0, 0, 0.2);
}

#create-card-pop-up::backdrop {
  backdrop-filter: blur(8px);
}

#create-item-pop-up {
  height: 30vh;
  width: 40vw;
  background-color: white;
  border: #e74c3c solid 1px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px rgb(0, 0, 0, 0.2);
}

#create-item-pop-up::backdrop {
  backdrop-filter: blur(8px);
}

#pop-up-form {
  width: 100%;
  height: 100%;
}

#item-form {
  width: 100%;
  height: 100%;
}

#pop-up-box-main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}

#item-box-main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}

#pop-up-box-top {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #e74c3c;
}

#item-box-top {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #e74c3c;
}

#pop-up-box-middle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#item-box-middle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pop-up-text {
  height: 5vh;
  width: 70%;
  border: #e74c3c solid 1px;
  border-radius: 5px;
  box-shadow: 4px 4px 7px 0px rgb(0 0 0 / 20%);
  text-align: center;
}

#item-text {
  height: 5vh;
  width: 70%;
  border: #e74c3c solid 1px;
  border-radius: 5px;
  box-shadow: 4px 4px 7px 0px rgb(0 0 0 / 20%);
  text-align: center;
}

#pop-up-box-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  text-align: center;
}

#item-box-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  text-align: center;
}

.pop-up-common {
  background: #e74c3c;
  width: 18%;
  border-radius: 50px;
  padding: 1vh 1vw;
}

.pop-up-btn {
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
}

/*/ ////////////////////////
/////////For Container Head
///////////////////////////  */

#container-head {
  box-sizing: border-box;
  width: 90vw;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  padding: 2vh;
  gap: 2vh;
  margin-bottom: 2vh;
}

#container-head1 {
  box-sizing: border-box;
  padding: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#container-head1-left {
  box-sizing: border-box;
  padding: 1vw;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  justify-content: space-between;
}

#head1-left1 {
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #342c2c;
}

#head1-left2 {
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #707070;
}

#hidden-middle {
  box-sizing: border-box;
  padding: 1vw;
  display: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #342c2c;
  font-size: 60px;
}

#container-head1-right {
  box-sizing: border-box;
  padding: 1vw;
  display: flex;
  flex-direction: row;
  gap: 3vw;
  align-items: center;
  justify-content: space-between;
}

#head1-right2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #707070;
}

#hidden-left {
  box-sizing: border-box;
  padding: 1vw;
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

#hidden-left2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #707070;
}

#container-head2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #707070;
  box-sizing: border-box;
  padding: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/*/////////////////////////////////////////////
//////////For Container Body, List & Magic List
///////////////////////////////////////////////  */

#container-body {
  box-sizing: border-box;
  width: 90vw;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 2vh;
}

#list {
  box-sizing: border-box;
  width: 100%;
  padding: 1vw;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5vh;
}

#magic-list {
  box-sizing: border-box;
  width: 100%;
  padding: 1vw;
  display: none;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vh;
}

.main-card {
  box-sizing: border-box;
  height: 45vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  border: #e74c3c solid 1px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px rgb(0 0 0 / 20%);
}

.main-card-head {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1vh;
  border-bottom: #d2d2d2 2px groove;
}

.card-head-content {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #e74c3c;
  box-sizing: border-box;
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
}

.main-card-body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1vh;
  gap: 1vh;
}

.card-body-top {
  box-sizing: border-box;
  height: 27vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 1vw;
  padding: 1vh;
}

.real-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
}

.card-body-bottom {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2vw;
  padding: 1vh;
}

/*///////////////////////////////////////////////////////
///////For the newly created card's non-existing elements
///////////////////////////////////////////////////////// */

.card-content-left {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #342c2c;
}

.card-content-right {
  box-sizing: border-box;
  display: flex;
}

.mark-done-btn {
  text-decoration: none;
  color: white;
  background-color: #3c3ce5;
  border-radius: 20px;
  padding: 1vh;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

/*/ ///////////////////////////
///////////////For Font Awesome
/////////////////////////////// */

.fa-plus-circle {
  color: #ff1900;
}

.fa-trash-alt {
  color: black;
}

.fa-chevron-circle-left {
  color: #ff1900;
}
